<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/assets/cocktails.css">
  </head>
  <body>
    <div>
    <h1>Cocktails</h1>
    </div>
    <div>
      <a href="/">all</a>
      <% alcoholList.forEach(alcohol => { %>
      <a href="/?alcohol=<%= alcohol %>"><%= alcohol %></a>
      <%}) %>
    </div>
    <table>
      <thead>
          <tr class="title">
              <th>NAME</th>
              <th class="price">PRICE</th>
          </tr>
      </thead>
      <tbody>
      <% cocktails.forEach(cocktail => { %>
      <tr class="items">
        <td><strong><%= cocktail.name %></strong><%= cocktail.isAlcoholic ? "":" (non-alcoholic)" %><br><%= cocktail.contains.join(", ") %></td>
        <td class="price"><%= cocktail.price %> Ft</td>
      </tr>
      <%}) %>
    </tbody>
    </table>
  </body>
  </html>
  